################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cellero.Concrete.Docs-dev/FileContentIndex
